<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head2 %>
</head>
<body>
<header>
	<% include ../partials/header %>
</header>
<!--<script type="text/javascript">
  setInterval(function() { location.reload(true); }, 200000);
</script> -->
<style>
  .fb-page {
  display: flex;
  justify-content: center;
}
	.twitter, .yammer2{
		display: inline-block;
	}
	.twitter-elem, .embedded-feed{
		float: left;
	}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="w3-main">

<div class="w3-hide-large" style="margin-top:83px"></div>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" id="twitter">
<h2 class="w3-wide">TWITTER</h2>
<% if (user.widgets.twitter.display) { %>
	<div class="twitter">
		<div class="twitter-elem">
			<a class="twitter-timeline" data-width="500" data-height="600" data-theme="light" href=<%= user.widgets.twitter.page %>>>
			</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
			</script>
		</div>
		<div class="twitter-elem">
			<blockquote class="twitter-tweet" data-lang="fr">
				<p lang="en" dir="ltr">
					<a href=<%= user.widgets.twitter.page %>>@GrandTetonNPS</a>. 
					<a href=<%= user.widgets.twitter.page %>>#nature</a> 
					<a href=<%= user.widgets.twitter.page %>>#sunset</a> 
					<a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
				</p>
				&mdash; US Department of the Interior (@Interior) 
				<a href=<%= user.widgets.twitter.tweet %>>>5 mai 2014</a>
			</blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<% } else { %>
			<a href="settings#twitter">Click here set twitter to Display</a>
		<% } %>
	</div>
</div>

<div class="w3-black" id="facebook">
	<div class="w3-container w3-center w3-content w3-padding-64" style="max-width:800px">
	<h2 class="w3-wide w3-center">FACEBOOK</h2>
	<% if (user.widgets.facebook.display) { %>
		<div class="facebook2">
			<div class="fb-page" data-tabs="timeline" data-width="400" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-href=<%= user.widgets.facebook.page %>>>
				<blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/facebook">Facebook</a>
        </blockquote>
      </div>
      <hr> 
			<div class="fb-page" data-tabs="messages" data-width="400" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-href=<%= user.widgets.facebook.page_com %>>>
				<blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/facebook">Facebook</a>
				</blockquote>
			</div>
		</div>
		<% } else { %>
			<a href="settings#facebook">Click here set facebook to Display</a>
		<% } %>	
	</div>
</div>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" id="yammer">
<h2 class="w3-wide">YAMMER</h2>
<% if (user.widgets.yammer.display) { %>
    <div class="yammer2">
      <script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_embed.js"></script>
        <div id="embedded-feed" style="height:500px;width:500px;"> 
          <script type="text/javascript">
            yam.connect.embedFeed({
            container: "#embedded-feed",
            network: "epitech.eu",
            feedType: "group",
            feedId: "16041603"
            });
          </script>
        </div>
        <br>
        <script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_embed.js"></script>
        <div id="embedded-feed" style="height:500px;width:500px;">
					<script type="text/javascript">
           yam.connect.embedFeed({
           container: "#embedded-feed",
           network: "epitech.eu",
            feedType: "group",
            feedId: "16035476"
            });
          </script>
          </div>
			</div>
			<% } else { %>
			<a href="settings#yammer">Click here set yammer to Display</a>
		<% } %>	
  </div>


  <div class="w3-grey" id="meteo">
  <div class="w3-container w3-center w3-content w3-padding-64" style="max-width:800px">
		<h2 class="w3-wide w3-center" style="color:white;">METEO</h2>
	<% if (user.widgets.weather.display) { %>		
      <a href="https://www.accuweather.com/en/fr/paris/623/biking-current-weather/623" class="aw-widget-legal">
      </a>
			<div id="awtd1539706660321" class="aw-widget-36hour"  data-locationkey="" data-unit="C" data-language="fr" data-useip="true" data-uid="awtd1539706660321" data-editlocation="true" data-lifestyle="biking"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
				<% } else { %>
				<a href="settings#meteo">Click here set meteo to Display</a>
			<% } %>	
	  </div>  
  </div> 

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:100%" id="spotify">
			<h2 class="w3-wide">SPOTIFY</h2>
			<% if (user.widgets.spotify.display) { %>
      <iframe src=<%= spotify_album %> width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			<iframe src=<%= spotify_artist %> width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
			<% } else { %>
				<a href="settings#spotify">Click here set spotify to Display</a>
			<% } %>	
  </div>

</div>
	<% include ../partials/footer %>
</body>
</html>